.advantages {
    background: url(../images/advantages-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 65px 0 38px 0;

    h2 {
        margin-bottom: 35px;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px 40px;

        @media #{$desktop} {
            gap: 22px;
        }
    }

    &__card {
        display: flex;
        width: calc(50% - 20px);
        min-height: 200px;
        padding: 32px 17px;
        border-radius: 15px;
        
        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5) {
            background: linear-gradient(-45deg, rgba(14,55,113,1) 9%, rgba(30,80,155,1) 100%);
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(6) {
            background: linear-gradient(-45deg, rgba(0,117,185,1) 9%, rgba(152,215,255,1) 100%);
        }

        &__img-box {
            display: flex;
            align-items: center;
            justify-content: end;
            min-width: 141px;
            height: 100%;

            img {
                width: max-content;
                height: max-content;
            }
        }

        &__text-box {
            margin-left: 40px;

            h3 {
                font-weight: $font-weight-base;
                color: $color-white;
                text-align: start;
                margin-bottom: 20px;

                @media #{$desktop} {
                    font-size: 30px;
                }
            }

            p {
                font-weight: $font-weight-light;
                font-size: 22px;
                line-height: 24px;
                color: $color-white;

                @media #{$desktop} {
                    font-size: 20px;
                }
            }
        }
    }
}