.appointment {
    background-color: $color-blue;
    padding: 40px;

    @media #{$tablet} {
        padding: 30px 15px;
    }

    &__content {
        display: flex;
        height: 100%;
        
        @media #{$phone} {
            justify-content: center;
        }

        form {
            display: flex;
            max-width: 90%;
            width: 100%;

            @media #{$phone} {
                max-width: none;
                flex-direction: column;
                align-items: center;
            }

            .btn {
                @media #{$phone} {
                    margin-top: 20px;
                }
            }
        }
    }

    &__form-wrapper {
        margin-right: 45px;
        
        @media #{$tablet} {
            margin-right: 20px;
        }

        @media #{$phone} {
            margin-right: 0;
        }
    }

    &__input-box {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        @media #{$phone} {
            flex-direction: column;
        }

        p {
            position: relative;
            font-family: $font-main;
            font-weight: $font-weight-bold;
            font-size: 18px;
            color: $color-white;
            margin-right: auto;

            @media #{$tablet} {
                font-size: 14px;
            }

            @media #{$phone} {
                margin-bottom: 10px;
            }

            &::before {
                content: '*';
                position: absolute;
                font-family: $font-main;
                font-weight: $font-weight-bold;
                font-size: 18px;
                color: $color-second;
                top: 0;
                right: -15px;
            }
        }

        input {
            font-family: $font-main;
            font-weight: $font-weight-medium;
            font-size: 18px;
            box-shadow: 0 8px 18px rgba($color: $color-black, $alpha: 0.06);
            border: 1px #6C5DC0 solid;
            border-radius: 19.5px;
            line-height: 37px;
            width: 75%;
            padding: 0 20px;
            margin-left: 23px;

            @media #{$desktop} {
                width: 70%;
            }

            @media #{$tablet} {
                font-size: 14px;
            }

            @media #{$phone} {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    &__notice {
        width: 75%;
        margin-left: auto;

        @media #{$desktop} {
            width: 70%;
        }

        @media #{$phone} {
            width: 100%;
            margin-left: 0;
        }

        &>p {
            margin-bottom: 23px;

            @media #{$tablet} {
                margin-bottom: 15px;
            }
        }

        p,
        input {
            font-family: Arial;
            font-size: 13px;
            line-height: 17px;
            color: #C8C8C8;

            @media #{$tablet} {
                font-size: 11px;
            }
        }

        div {
            display: flex;
            align-items: start;
        }
    }
}